*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #303030;
}


body{
	background-color: #f7f6f6;
}

h1, h3, h4, h5, h6{
	color: #a80000;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: lighter;
}

h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	font-size: 20px;

}

h4{
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 18px;
}

#header{
	width: 100%;
	height: auto;
	background-color: #EBEBEB;
}

.logo{
	margin: auto;
	display: block;
	padding: 15px;
}

#nav{
	width: auto;
	height: auto;
	background-color: #303030;
	text-align: center;
	font-size: 0px;
}
#nav ul{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0px;
}

#nav li{
	display: inline;
	margin: 0;
	font-size: 20px;
}

#nav li:last-child{
	margin-right: 0px; 
}

#nav li a{
	color: #f7f6f6;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
	transition: background-color 0.5s;
}

#nav li a:hover{
	background-color: #a80000;
}

#nav li .active{
	background-color: #A80000;
}

#category{
	float: left;
	width: 10%;
	margin-left: 10%;
	text-align: center;
}

#category li{
	list-style-type: none;
}

#category a{
	text-decoration: none;
}

#category a:hover{
	text-decoration: underline;
}

#category .active{
	text-decoration: underline;
}

#content{
	width: 55%;
	float: left;
	margin-left: 20%;
}

#content p{
	line-height: 25px;
	font-size: 14px;
}

#content-product{
	width: 55%;
	float: left;
}

#content-product p{
	line-height: 25px;
	font-size: 14px;
}

.aanbieding{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 3.33%;
	margin-bottom: 3%;
}

.aanbieding img{
	width: 100%;
	height: 100%;
	border: 1px #303030 solid;
}

.aanbieding h3{
	margin-top: 0px;
}

.btn-aanbieding{
	padding: 5px;
	background-color: #303030;
	color: #f7f6f6;
	text-decoration: none;
	transition: background-color 0.5s;
	float: right;
}

.btn-aanbieding:hover{
	background-color: #A80000;
}

.prijs{
	color: #A80000;
	font-size: 24px;
}

.gamepc{
	float: right;
	float: top;
	margin: 10px;
}

/* PRODUCT LIJST */

.product {
	height: auto;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.product img {
	height: 150px;
	width: 200px;
	float: left;
	padding: 10px;

}

.product h2 {
	padding: 5px
}

.product h3 {
	float: right;
	font-size: 20px;
	color:#303030;
}

.product ul {
	list-style-position: inside;
	float: left;
}

.product a {
	float:right;
	float:bottom;
	padding: 10px;
}

.product p {
	float: right;
}

/* PRODUCT INFORMATIE */

.product-info img {
	height: 250px;
	width: 300px;
	float: left;
	padding: 10px;
}

.product-info table {
	float: right;
	float: top;
	margin: 10px;
	margin-right: 50px;
	width: 63%; 
}

.product-info p {
	float: right;
	margin: 10px 40px 10px 10px;
}

.product-info tr:nth-child(odd) {
	background: #EBEBEB
}


.hr {
	width: 80%;
	margin: auto;
	background-color: #303030;
	border: 0;
	height: 1px;
}

.btn-bekijk{
	padding: 5px;
	background-color: #303030;
	color: #f7f6f6;
	text-decoration: none;
	transition: background-color 0.5s;
	float: right;
}

.btn-bekijk:hover{
	background-color: #A80000;
}

/* Openingstijden */

#openingstijden{
	float: right;
	width: 15%;
	margin-right: 10%;
}

#openingstijden table{
	margin: auto;
}
#openingstijden td{
	padding: 5px;
}

/* footer */

#footer{
	background-color: #EBEBEB;
	width: 100%;
	height: 150px;
	float: left;
	margin-top: 25px;
	padding-bottom: 5px;

}

#footer li{
	list-style-type: none;
}

#footer a{
	text-decoration: none;
}

#footer a:hover{
	text-decoration: underline;
}

.locatie{
	float: left;
	margin-left: 20%;
}

.links{
	float: left;
	margin-left: 20%;
}

.volgons{
	float: left;
	margin-left: 20%;
}

.twitter{
	margin-right: 25px;
	margin-top: 10px;
	width: 30%;
	height: 30%;
}

.facebook{
	margin-top: 10px;
	width: 30%;
	height: 30%;
}

#copyright-footer{
	width: 100%;
	height: auto;
	background-color: #303030;
	text-align: center;
	color: #f7f6f6;
	float: left;
	padding: 15px 0px 15px 0px;
}